{% set basicConfig = config('core.basicInformation') %}

{% block twint_qr_code %}
    <div class="container sm-w-100">
        <div class="row justify-content-center pt-md-3">
            <div class="col-12 col-lg-10">
                <div class="row h-100 flex-column-reverse flex-md-row pl-md-3">
                    <div class="qr-code col-12 col-md-6 d-flex px-0 justify-content-center bg-white md-rounded pt-4 pt-md-0 pd-md-auto d-md-flex d-none flex d-md-flex">
                        <div data-twint-copy-token class="d-flex flex-column text-center flex-md-column-reverse">
                            <div class="qr-token text-center mb-3">
                                <input id="qr-token" class="text-center bg-white" type="text" value="{{ pairingToken }}" disabled>
                            </div>

                            <div class="d-md-none">
                                <button id="btn-copy-token" data-clipboard-action="copy" data-clipboard-target="#qr-token" class="text-center p-2 px-3 bg-white rounded text-secondary border-secondary border-1 ">{{ "twintPayment.button.copyCode"|trans() }}</button>
                            </div>

                            {% if qrCode %}
                                <div class="text-center">
                                    <img src="{{ qrCode }}" alt="QR Code" class="qr-img col-12 img-fluid md-rounded">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 d-flex flex-column">
                        <div class="row h-100">
                            <div class="col-12 d-flex flex-column row-gap-1 row-gap-md-3 px-0 px-md-3">
                                <div class="right-element bg-white p-3 h-50 md-rounded d-flex justify-content-center align-items-center">
                                    <span class="value text-white bg-black fw-semibold px-4 py-2 ">
                                        {{ amount|currency }}
                                    </span>
                                </div>
                                <div class="right-element bg-white p-3 h-50 md-rounded d-flex justify-content-center align-items-center">
                                    <span>{{ basicConfig.shopName }}</span>
                                </div>
                            </div>
                        </div>

                        <div data-app-selector>
                            {% if isIosDevice %}
                                {{ include('@TwintPayment/storefront/component/qr-code/mobile-ios.html.twig',{
                                    payLinks: payLinks
                                }) }}
                            {% endif %}

                            {% if isAndroid %}
                                {{ include('@TwintPayment/storefront/component/qr-code/mobile-android.html.twig') }}
                            {% endif %}

                            <div class="row qr-code d-none d-md-none">
                                <div class="separator d-flex py-0 text-center my-3">{{ 'twintPayment.instruction.or'|trans() }}</div>
                            </div>

                            <div class="row qr-code d-none flex d-md-none d-flex justify-content-center my-3">
                                <div class="col-9 text-center">{{ 'twintPayment.instruction.inputCode'|trans() }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
