<!-- Modal -->
<div class="modal fade" id="appSelector" tabindex="-1" role="dialog" aria-labelledby="appSelectorModalCenterTitle"
     aria-hidden="true" data-app-selector>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'twintPayment.appSelectorModal.title' | trans | raw }}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="section page appChooserArea" style="display: block;">
                        <div id="app-chooser-container" class="appSwitch">
                            {% set prefinedApps = {
                                'UBS TWINT' : 'bank-ubs',
                                'Raiffeisen TWINT' : 'bank-raiffeisen',
                                'PostFinance TWINT' : 'bank-pf',
                                'ZKB TWINT' :'bank-zkb',
                                'Credit Suisse TWINT' : 'bank-cs',
                                'BCV TWINT' : 'bank-bcv',
                            } %}
                            <div class="app-logos-container" id="logo-container">
                                {% for payLink in payLinks %}
                                    {% if payLink.name in prefinedApps|keys %}
                                        <div class="bank-logo {{ prefinedApps[payLink.name] }}" onclick="javascript:bankShortcut('{{ payLink.link }}')"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="row text-center">
                                <div class="copy-cache">
                                    <select class="app-chooser" id="app-chooser" onchange="changeBank(value);">
                                        <option value="">Other banks</option>
                                        {% for payLink in payLinks %}
                                        {% if payLink.name not in prefinedApps|keys %}
                                            <option value="{{ payLink.link }}">{{ payLink.name }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        function bankShortcut(link){
                            window.location = link;
                        }
                        function changeBank(link) {
                            if(link){
                                window.location = link;
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>