{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% block page_checkout %}
        <script>
            function reloadPage() {
                localStorage.setItem('lastReloadTime', Date.now());
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/payment/order/{{ orderNumber }}', true);
                xhr.onload = function () {
                    if (xhr.status >= 200 && xhr.status < 300) {
                        var jsonResponse = JSON.parse(xhr.responseText);
                        if(jsonResponse.reload){
                            location.reload();
                        }
                    }
                };
                xhr.onerror = function () {};
                xhr.send();
            }

            window.onload = function() {
                var lastReloadTime = localStorage.getItem('lastReloadTime');
                var currentTime = Date.now();
                var reloadInterval = 10 * 1000; // 10 second to check
                if (!lastReloadTime || (currentTime - lastReloadTime > reloadInterval)) {
                    reloadPage();
                }
                setInterval(reloadPage, reloadInterval);
            };
        </script>
        <div class="checkout">
            {% block page_qr_waiting_container %}
                <div class="qr-waiting-container">
                    <div class="row nav">
                        <div>
                            <a href="http://www.twint.ch/" target="_blank"><div class="twint-logo"></div></a>
                        </div>
                    </div>

                    <div id="amount-container" class="row section">
                        <div class="wrap">
                            <div class="amount-header text-center text-uppercase">
                                <span class="value">{{ order.price.rawTotal|currency }}{% if order.price.taxStatus == "gross" %}{% endif %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row qrCode">
                        <div class="row grey-bg text-center">
                            <div class="wrap">
                                <div class="credentials">
                                    <div class="credentials-box credential-qrcode text-center text-uppercase float-lt">
                                        <div class="credentials-item qr">
                                            {% if qrCode %}
                                                <img src="{{ qrCode }}" alt="QR-Code"/>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="credentials-box credential-token text-center text-uppercase">
                                        <div class="credentials-item token">
                                            {% for char in pairingToken|split('') %}
                                                <p class="credential-number">{{ char }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="description-box">

                                <div class="description-item">
                                    <div class="description-image">
                                        <div class="description-icon icon-app"></div>
                                    </div>
                                    <div class="description-text">{{ "twintPayment.waitingPage.step1"|trans() }} </div>
                                </div>
                                <div class="description-item">
                                    <div class="description-image">
                                        <div class="description-icon icon-pay"></div>
                                    </div>
                                    <div class="description-text">{{ "twintPayment.waitingPage.step2"|trans() }}</div>
                                </div>
                                <div class="description-item">
                                    <div class="description-image">
                                        <div class="description-icon-cam icon-cam"></div>
                                    </div>
                                    <div class="description-text">{{ "twintPayment.waitingPage.step3"|trans() }}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% if payLinks is defined and payLinks.android is defined  %}
                        <script>
                            window.location = '{{ payLinks.android[0] }}'
                        </script>
                    {% elseif payLinks is defined and payLinks.ios is defined %}
                        {% sw_include '@Storefront/storefront/page/app-selector-modal.html.twig' with {
                            payLinks: payLinks.ios
                        } %}
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}



{% endblock %}
