{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% block page_checkout %}
        <script>
            function reloadPage() {
                localStorage.setItem('lastReloadTime', Date.now());
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/payment/order/{{ orderNumber }}', true);
                xhr.onload = function () {
                    if (xhr.status >= 200 && xhr.status < 300) {
                        var jsonResponse = JSON.parse(xhr.responseText);
                        if(jsonResponse.reload){
                            location.reload();
                        }
                    }
                };
                xhr.onerror = function () {};
                xhr.send();
            }

            window.onload = function() {
                var lastReloadTime = localStorage.getItem('lastReloadTime');
                var currentTime = Date.now();
                var reloadInterval = 1 * 60 * 1000; // 1 minute to check
                if (!lastReloadTime || (currentTime - lastReloadTime > reloadInterval)) {
                    reloadPage();
                }
                setInterval(reloadPage, reloadInterval);
            };
        </script>
        <div class="checkout">
            {% block page_checkout_container %}
                <div class="checkout-container">
                    {% block page_checkout_main %}
                        <div class="checkout-main">
                            {% block base_flashbags_checkout %}
                                <div class="flashbags">
                                    {% for type, messages in app.flashes %}
                                        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with { type: type, list: messages } %}
                                    {% endfor %}
                                </div>
                            {% endblock %}

                            {% block page_checkout_main_content %}{% endblock %}
                        </div>
                    {% endblock %}

                    {% block page_checkout_additional %}
                        <div style="text-align:center">
                            <h2>{{ "twintPayment.waitingPage.headline"|trans({'%orderNumber%': orderNumber}) }}</h2>
                            {% if qrCode %}
                                <a href="javascript:window.location='{{ link }}'"><img src="{{ qrCode }}" style="width:40%;align:auto" alt="QR-Code"/></a>
                            {% endif %}
                        </div>
                    {% endblock %}

                    {% block page_checkout_aside %}
                        <div class="checkout-aside {% if block('page_checkout_additional')|trim %}checkout-aside-no-offset{% endif %}">
                            {% block page_checkout_aside_container %}
                                <div class="checkout-aside-container">
                                    {% block page_checkout_aside_summary %}
                                        <div class="checkout-aside-summary">
                                            {% block page_checkout_summary_header %}
                                                <h2 class="checkout-aside-summary-header">
                                                    {{ "checkout.summaryHeader"|trans|sw_sanitize }}
                                                </h2>
                                            {% endblock %}

                                            {% block page_checkout_summary_list %}
                                                <div class="checkout-aside-summary-list-container">
                                                    {% block page_checkout_summary_list_container %}
                                                        {% block page_checkout_summary %}
                                                            <div class="checkout-aside-summary-container">
                                                                {% set summary = order %}

                                                                {% set displayRounded = context.totalRounding.interval != 0.01 or context.totalRounding.decimals != context.itemRounding.decimals %}
                                                                {% set decimals = context.totalRounding.decimals %}
                                                                {% set total = summary.price.totalPrice %}

                                                                {% if displayRounded %}
                                                                    {% set decimals = context.itemRounding.decimals %}
                                                                    {% set total = summary.price.rawTotal %}
                                                                {% endif %}

                                                                <dl class="row checkout-aside-summary-list g-0 {% if displayRounded %}display-rounded{% endif %}">
                                                                    {% block page_checkout_summary_inner %}

                                                                        {% sw_include '@Storefront/storefront/page/checkout/summary/summary-position.html.twig' with { 'summary': summary } %}

                                                                        {% sw_include '@Storefront/storefront/page/checkout/summary/summary-shipping.html.twig' with { 'summary': summary } %}

                                                                        {% if summary.price.taxStatus == 'gross' %}
                                                                            {% sw_include '@Storefront/storefront/page/checkout/summary/summary-total.html.twig' with {
                                                                                'total': total,
                                                                                'decimals': decimals
                                                                            } %}

                                                                            {% if displayRounded %}
                                                                                {% sw_include '@Storefront/storefront/page/checkout/summary/summary-total-rounded.html.twig' with {
                                                                                    'summary': summary,
                                                                                    'decimals': context.totalRounding.decimals
                                                                                } %}
                                                                            {% endif %}

                                                                            {% sw_include '@Storefront/storefront/page/checkout/summary/summary-net.html.twig' with { 'summary': summary } %}

                                                                            {% sw_include '@Storefront/storefront/page/checkout/summary/summary-tax.html.twig' with { 'summary': summary } %}
                                                                        {% else %}

                                                                            {% sw_include '@Storefront/storefront/page/checkout/summary/summary-net.html.twig' with { 'summary': summary } %}

                                                                            {% sw_include '@Storefront/storefront/page/checkout/summary/summary-tax.html.twig' with { 'summary': summary } %}

                                                                            {% sw_include '@Storefront/storefront/page/checkout/summary/summary-total.html.twig' with {
                                                                                'total': total,
                                                                                'decimals': decimals
                                                                            } %}

                                                                            {% if displayRounded %}
                                                                                {% sw_include '@Storefront/storefront/page/checkout/summary/summary-total-rounded.html.twig' with {
                                                                                    'summary': summary,
                                                                                    'decimals': context.totalRounding.decimals
                                                                                } %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endblock %}
                                                                </dl>
                                                            </div>
                                                        {% endblock %}
                                                    {% endblock %}
                                                </div>
                                            {% endblock %}
                                        </div>
                                    {% endblock %}

                                    {% block page_checkout_aside_actions %}{% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}



{% endblock %}
